.dayCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 25px;
    padding: 40px 15px 0 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.dayCard:hover {
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
    margin-top: 15px;
    padding: 0 15px 30px 15px;
}

.day {
    font-weight: 100;
    font-size: 2em;
    color: rgb(178, 157, 230);
}

.description {
    color: rgb(100, 85, 139);
    font-weight: 800;
}

.temperature {
    font-weight: 100;
    font-size: 3em;
    color: #eaeaea;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.dayCard:hover .temperature {
    opacity: 1;
}

.icon {
    margin-top: 10px;
}